.header{
    background-color: black;  
    height: 30px; 
}

#logo{
    border:20%;
}

.header{
    height: 30px;
    background-color: #def2f1;
    margin-bottom: 5%;
    
}

#mainContainer{
    width: 80%;
    align-content: center;
    max-width: 80%;
    margin: auto;
   
}

#videoContainer{
    text-align: center;
    width: 80%;
    align-content: center;
    max-width: 80%;
    margin: auto;
}

#video-space{
    text-align: center;
}

.video {
    border-radius: 15px;
    width: 30vh;
    /* position: absolute; */
    /* left: 5%;
    top: 5%; */
}

.videoTitle {
    /* position: absolute; */
    /* top: -80%; */
}
/* Need media queries */
.col-sm{
    /* position: relative; */
    text-align: center;
    align-content: center;
    border-radius: 25px;
    border: 2px solid #192428;
    background: #3aafa9;
    padding: 10px; 
    width: 15vh;
    height: 30vh;
    margin-bottom: 3px;
}

.col-sm:nth-child(3n-2), .col-sm:last-child{
   margin-right: 3px;
}

.col-sm:nth-child(3n){
    margin-left: 3px;
}

.col{
    margin-left: 7px;
}

.footer{
   
    background-color: #def2f1; 
       
}

#bottomlogo{
    background-color: #def2f1;
}


.media-body {
    background-color: rgb(243, 243, 243);
    /* width: 100%; */
    color: black;
    box-shadow: 3px 3px 5px rgb(199, 199, 199);

}

.media-heading {
    margin-right: 15px;

}

.text-semibold {
    text-decoration: none;
    float: left;
    margin: 15px;

}

.timestamp {
    float: left;
    margin-top: 15px;

}

.comment-text {
    clear: both;
    margin-left: 15px;
    float: left;
}

.media-left img{
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 15px;
    clear: both;
}
.check-box {
    float: right;
    margin-right: 15px;
    margin-top: 35px;
    line-height: 20px;
}
.checkmark {
    float: right;
    clear: left;
    /* margin-top: 15px;*/
    margin-top: 35px; 

}

.comment-controls {
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
}

.footer {
    margin-top: 5%;
}