#logo{
    border:20%;
}

.header{
    height: 50px;
    background-color: #def2f1;
    margin-bottom: 10%;
    
}

#MainContainer{
    width: 80%;
    align-content: center;
    max-width: 80%;
    margin: auto;
   
}
#videoContainer{
    width: 80%;
    align-content: center;
    max-width: 80%;
    margin: auto;
}


.col-sm{
    border-radius: 25px;
    border: 2px solid #192428;
    background: #3aafa9;
    padding: 20px; 
    width: 150px;
    height: 150px;
}

.Footer{
   
    background-color: #def2f1; 
       
}

#bottomlogo{
    background-color: #def2f1;
}

